<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="http://pusintek.kemenkeu.go.id/Pages/Default.aspx"
            target="_blank" mat-button fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <span>Copyright © 2019 by Pusintek</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
          <a mat-button href="http://kemenkeu.go.id" target="_blank">Kementerian Keuangan RI</a>
            <span>&bull;</span>
            <a mat-button routerLink="#">Versi 3.0</a>
        </div>

    </div>

</mat-toolbar>
