.toolbar-separator {
    height: 32px;
    width: 1px;
    border-right: 1px solid rgba(0,0,0,.12);
    margin: 0 12px;
}

.mat-column-Action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 500px !important;
  width: 500px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
