<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
  
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    how_to_reg
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    List Access Manager
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">
            <div class="toolbar px-24 py-8">
  
                <div class="mail-selection" fxFlex="row" fxLayoutAlign="start center">
                    <button *ngIf="selected.length > 0" matTooltip="Update" mat-mini-fab color="accent" (click)="onEditClick()">
                        <mat-icon>assignment</mat-icon>
                    </button>
                </div>
  
                <div class="right" fxLayout="row" fxLayoutAlign="end center">
                    <div class="toolbar-separator"></div>
                    <wing-search (search)="searchRole($event)" [clearText]="true" [showSearch]="showSearch" (click)="onClickSearch()"></wing-search>
                </div>
            </div>
  
            <div class="content">
                <ngx-datatable #table
                            class="material"
                            [rows]="roles"
                            [columnMode]="'force'"
                            [rowHeight]="'auto'"
                            [selectCheck]="singleSelectCheck"
                            [selected]="selected"
                            (select)='onSelect($event)'
                            [selectionType]="'single'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [limit]="2"
                            fusePerfectScrollbar>
                <ngx-datatable-column name="Role" prop="Role"></ngx-datatable-column>
                <ngx-datatable-column name="Action">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.Action}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
  
        </div>
        <!-- / CONTENT CARD -->
    </div>
  </div>