// .active {
//     background-color: lightblue;
// }
.gravatar img{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mat-column-UserRoles {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 250px !important;
  width: 250px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Gravatar {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
