<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header accent p-40 pb-4">

    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <img class="logo-icon s-32" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" src="assets/images/logos/logo_eprime_96.png">
      <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">E-Agenda</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" fusePerfectScrollbar [@animate]="{value:'*',params:{y:'50px'}}">
  <div class="nav material2">
    <!--<ng-container *ngFor="let menu of navMenus" >
    <div class="nav-subheader" *ngIf="menu.Type=='group'">{{ menu.Name }}</div>

    <div class="nav-item" *ngFor="let item of menu.Items">
        <a class="nav-link" matRipple [routerLink]="item.Link"
           [routerLinkActive]="['active', 'accent']"
           [routerLinkActiveOptions]="{exact: item.Exact || false}">
            <mat-icon class="nav-link-icon" *ngIf="item.Icon">{{ item.Icon }}</mat-icon>
            <span>{{item.Name}}</span>
        </a>
    </div>
  </ng-container>-->
    <div class="nav-subheader">Menu Utama</div>
    <div class="nav-item">
      <a class="nav-link accent" [routerLink]="">
        <mat-icon class="nav-link-icon">calendar_today</mat-icon>
        <span>Jadwalku</span>
      </a>
      <a class="nav-link" [routerLink]="'jadwalatasan'" [routerLinkActive]="['active', 'accent']">
        <mat-icon class="nav-link-icon">perm_contact_calendar</mat-icon>
        <span>Jadwal Atasan</span>
      </a>
      <a class="nav-link" [routerLink]="">
        <mat-icon class="nav-link-icon">volume_down</mat-icon>
        <span>Pengumuman</span>
      </a>
    </div>
  </div>
</div>
<!-- / SIDEBAR CONTENT -->

