<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
  <div class="center">
    <!-- CONTENT CARD -->
      <div class="toolbar px-24 py-8">
        <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                (click)="toggleSidebar('app-sidebars')">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Generator CRUD</span>
      </div>
      <div class="content p-24" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        <form fxLayout="column">
          <div fxFlex="1 0 auto" fxLayout="column">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Pilih Entity</mat-label>
              <mat-select [(ngModel)]="selectedModel" [ngModelOptions]="{standalone: true}" (selectionChange)="checkModuleExist()" required>
                <mat-option *ngFor="let model of models" [value]="model">
                  {{model}}
                </mat-option>
              </mat-select>
              <mat-error>Entity wajib diisi!</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button type="button" color="accent" (click)="loadAttribute()">
              Pilih Atribut
            </button>
          </div>
          <br />
          <div fxFlex="1 0 auto" fxLayout="column">
            <mat-divider></mat-divider>
            <mat-selection-list #features>
              <mat-list-option *ngFor="let feature of featuresArray" [selected]="attrSelected(feature.value)" (click)="selectChange(features)" [value]="feature.value">
                {{feature.name}}
              </mat-list-option>
            </mat-selection-list>
            <mat-divider></mat-divider>
          </div>
          <br />
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-raised-button type="button" color="accent" (click)="onSaveForm()">
              Generate
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
