<div id="content-layout" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          home
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Home
        </span>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">
      <div class="toolbar px-24 py-8">
        <span>Welcome Developer</span>
      </div>
      <div class="content p-24">
        <h2>Pusintek Web Application Platform Version 3.0.0</h2>
        <h3>For Detail Documentation Click <a href="http://dev.ecorp.kemenkeu.go.id/pwpnetcore" target="_blank">Here</a></h3>
      </div>
    </div>
  </div>
</div>
